.container{
align-items: center;
justify-content: center;
    margin-top: 25vh;
}
.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}

.card-body{
    align-items: center;
    justify-content: center
    
}

.btnC{
    width: 300px;
    height: 40px;
}

.row{
    display: inline-block;
}



.btn{
    width: 70px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
